EmailScreen {
    align: center middle;
}


#emailBox {
    width: 70%;
    height: 70%;
    

    align: center middle;
    layout: grid;
    grid-size: 8 8;
    grid-columns: 1fr;
    grid-gutter: 0 1;
}

#emailBox-subject {
    height: 1fr;
    border: solid white;
    column-span: 8;
    row-span: 1;

}

#emailBox-metadata {
    height: 100%;
    border: solid white;
    column-span: 2;
    row-span: 7;
}

#emailBox-body { 
    height: 100%;
    border: solid white;
    column-span: 6;
    row-span: 7;
}




